{:updated-at #inst "2009-06-12T23:10:19.000-00:00",
 :tags #{:equateur},
 :published-at #inst "2009-06-11T15:25:33.000-00:00",
 :elements
 [{:type :paragraph,
   :content
   ("Grâce à notre "
    [:a
     {:href
      "http://http//shop.lonelyplanet.com/Primary/Product/PRD_DIG_305391/Trekking+in+the+Central+Andes++Pick++Mix+Chapters.jsp?bmUID=1244668958734",
      :target "_blank"}
     "guide alpin "]
    "et notre jeune expérience en randonnée, nous pensons pouvoir atteindre notre but en organisant une marche auprès du Chimborazo. Il est toutefois conseillé de prendre carte IGN (détaillée) et boussole (Antoine et Yaêl, désolé, mais vos boussoles ne fonctionnent pas de ce côté de l'Hémisphère !!!).")}
  {:type :photo,
   :provider :wordpress,
   :id
   {:url
    "https://vadrouilles.files.wordpress.com/2009/06/randonneurs2.gif?w=283&h=262"},
   :width 283,
   :height 262,
   :alt "En route !",
   :caption "En route !"}
  {:type :paragraph,
   :content
   ("Nous passons d'abord par l'ancienne route pavée qui traversait autrefois le pays avant la construction de la nouvelle "
    [:em {} "Panamericana"]
    ". Nous marchons plusieurs heures à nouveau sur une route de terre où nous croisons des camions chaque 20 minutes avant de découvrir que nous nous éloignons de notre cible, le Chimborazo. Simple intuition car celui-là ne daigne même pas montrer le bout de son nez, planqué derrière des nuages gigantesques et une pluie fine par la même occasion.")}
  {:type :photo,
   :provider :wordpress,
   :id
   {:url
    "https://vadrouilles.files.wordpress.com/2009/06/img_4576-50.jpg?w=199&h=300"},
   :width 199,
   :height 300,
   :alt "Ancienne route qui traverse l'Equateur",
   :caption "Ancienne route qui traverse l'Equateur"}
  {:type :paragraph,
   :content
   "Après quelques allers-retours sur sentier sinueux, il est 18h, nous finissons par nous arrêter. Nous ne trouverons pas ce chemin qui nous mène au bord du Chimborazo."}
  {:type :photo,
   :provider :wordpress,
   :id
   {:url
    "https://vadrouilles.files.wordpress.com/2009/06/img_4540-50.jpg?w=199&h=300"},
   :width 199,
   :height 300,
   :alt "vive l'imper !",
   :caption "vive l'imper !"}
  {:type :paragraph,
   :content
   "Nous décidons de camper 'en pleine nature' sur les hauteurs de 4000m et voilà que le Chimborazo fait son apparition devant nous quelques minutes avant de disparaître dans le blanc des nuages."}
  {:type :photo,
   :provider :wordpress,
   :id
   {:url
    "https://vadrouilles.files.wordpress.com/2009/06/img_4563-50.jpg?w=300&h=199"},
   :width 300,
   :height 199,
   :alt "Chimborazo - 6300m",
   :caption "Chimborazo - 6300m"}
  {:type :paragraph,
   :content
   "Déçu, nous repartons le lendemain par la même sentier pour reprendre un bus en bord de route pour Quito. Sniff."}],
 :title "A la rencontre de l'imposant Chimborazo (6300m)",
 :source-url "http://vadrouilles.wordpress.com",
 :id "a-la-rencontre-de-limposant-chimborazo-6300m",
 :source-id "950",
 :blog "avesdepaso",
 :visibility :public}
