{:updated-at #inst "2011-02-05T06:44:49.000-00:00",
 :published-at #inst "2011-02-05T06:11:30.000-00:00",
 :elements
 [{:type :paragraph,
   :content
   ("Jamais mis les pieds en Asie. Donc par où commencer ? Quels endroits visiter ? C'est finalement le Laos qui le remporte. Valérian et Manila sont installés à Vientiane, pourquoi ne pas aller les saluer dans leur contrée? En plus c'est pas le pays le plus touristique de l'Asie du Sud Est.. donc c'est parti "
    [:span {:class "wp-smiley emoji emoji-wink", :title ";-)"} ";-)"])}
  {:type :photo,
   :provider :wordpress,
   :id
   {:url
    "https://vadrouilles.files.wordpress.com/2011/02/p1050732.jpg?w=300&h=225"},
   :width 300,
   :height 225,
   :alt "P1050732",
   :caption "Salade de Papaye chez la cousine de Manila"}
  {:type :paragraph,
   :content
   "Trois étapes pour ce voyage : Visiter Valérian et Manila, remonter vers le nord pour découvrir les différentes ethnies, flâner autour de Luang Prabang."}
  {:type :photo,
   :provider :wordpress,
   :id
   {:url
    "https://vadrouilles.files.wordpress.com/2011/02/p1050210.jpg?w=300&h=225"},
   :width 300,
   :height 225,
   :alt "Découverte du pays",
   :caption "Découverte du pays"}],
 :title "A la découverte de la vie lao",
 :source-url "http://vadrouilles.wordpress.com",
 :id "a-la-decouverte-de-la-vie-lao",
 :source-id "1314",
 :blog "avesdepaso",
 :visibility :public}
